@media screen and  (max-width:1280px){
    .service{
        display: grid;
        grid-template-columns:150px 150px 150px;
    }
   
    .agileits-banner-info{
        height: 900px !important;
    }
    .banner-right{
        height: 900px !important;
        
    }
    .banner-right-info,.service,.agileits-nav{
        margin-top: 80px;
    }
    .modal-btn{
        margin-top: 100px;
    }
    .title_info{
        font-size: 28px !important;
        margin-left: -60px !important;
        
    }
.close{
        margin-left: 80px !important;
    }
    .card_block{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-row-gap:30px;   
      }
      .footer_block{
          
        grid-template-columns:350px 250px 350px;
        font-size: 14px;
      }
      .footer_list1{
        display: grid;
        grid-template-columns: 150px 150px;
        grid-column-gap: 1px;
        
    }
    
}