@media screen and (max-width:1550px) and (min-width:1400px){
    .agileits-banner-info{
        height: 844px !important;
        margin-top: -2px !important;
    }
    .banner-right{
        height: 762px;
    }
   .banner-right-info,.agileits-banner-info{
       margin-top: 50px;
   }
   .dropbtn1{
       margin-top: 80px !important;
   }
   .list_of_contacts{
       width: 470px;
   }
   .service p{
       font-size: 20px;
   }
    .banner-right{
        height: 844px;
        
    }
    .banner-right-info,.service,.agileits-nav{
        margin-top: 50px;
    }
    .modal-btn{
        margin-top: 80px;
    }
.close{
        margin-left: 80px !important;
    }
}
@media screen and (max-width:2660px) {

    .agileits-banner-info{
        height: 844px !important;
        margin-top: -2px !important;
    }
    .banner-right{
        height: 844px;
        
    }
    .banner-right-info,.service,.agileits-nav{
        margin-top: 100px;
    }
    .modal-btn{
        margin-top: 100px;
    }
.close{
        margin-left: 80px !important;
    }
}