@media screen and (max-width:1550px) and (min-width:1368px){
    .agileits-banner-info{
        height: 900px !important;
        
        
    }
    .banner-right{
        height: 900px !important;
        margin-top: -2px !important;
        
    }
    
   .banner-right-info{
       margin-top: 80px !important;
   }
   .dropbtn1{
       margin-top: 80px !important;
   }
   .list_of_contacts{
       width: 470px;
   }
   .service p{
       font-size: 20px;
   }
    .banner-right{
        height: 844px;
        
    }
    .banner-right-info,.service,.agileits-nav{
        margin-top: 50px;
    }
    .modal-btn{
        margin-top: 100px;
    }
.close{
        margin-left: 80px !important;
    }
}
@media screen and (max-width:1366px) and (min-width:1300px){
    .banner-right{
        margin-left: -1px;
    }
    .modal-btn{
        margin-top: 20px;
    }
    .close{
        margin-left: 120px !important;
    }
}
@media screen and (max-width:2660px) and (min-width:1700px) {

    .agileits-banner-info{
        height: 870px !important;
        
    }
    .banner-right{
        height: 870px;
        
    }
    .banner-right-info,.service,.agileits-nav{
        margin-top: 130px;
    }
    .modal-btn{
        margin-top: 150px;
    }
.close{
        margin-left: 80px !important;
    }
}