@media screen and (max-width:550px){
    .agileits-banner-info{
        height:1350px !important;
    }
    .banner-right-info{
        margin-top: 50px;
    }.banner-right{
        height: 1000px;
    }
   .service{
       display: grid;

       grid-template-columns: 150px 150px;
      
  
   }
   .title_info{
    margin-top: 1px !important;
    
}
   .service1 p,.service2 p, .service3 p{
       font-size: 16px;
   }
   .footer_block{
    grid-template-columns:350px;
    font-size: 14px;
    height: 480px;
 }
   .footer_block_2 iframe {
    width: 350px !important;
   
}
.footer_block{
    height: 700px;
}
.teat
   .service3{
       position: relative;
       margin: 0 auto;
       left: 50%;
       width: 150px;
       
     
   }
   .list_of_contacts{
       margin-top: 20px;
       width: 400px;
      
   }
   .close{
       margin-left: 30px !important;
   }
}
@media screen and (max-width:680px) {
 .agileits-banner-info{
     width: 106%;
     height: 1040px !important;
     
 }   

 .banner-right{
     height: 660px;
 }
 .banner-right img{
     margin-top:-40px;
     
 }
 .card_block{
    grid-template-columns: 350px 350px;
    grid-row-gap:30px;

 }
 .list_of_contacts{
     margin-left: 50px;
 }
 .footer_block{
     width: 106%;
 }
 .footer_block iframe{
     width: 650px !important ;
 }
 .title_info{
     font-size: 36px !important;
     margin-left:20px !important;
 }
 .submit_form{
    margin-top: 200px !important;
}
}
@media screen and (max-width:660px){
    .agileits-banner-info{
        width: 126%;
        height: 1040px !important;
        
    }   
   
    .banner-right{
        height: 660px;
    }
    .banner-right img{
        margin-top:-40px;
        
    }
    .card_block{
       grid-template-columns: 350px 350px;
       grid-row-gap:30px;
       
   
    }
    .block_service{
        margin-left: 140px !important;
    }
    .list_of_contacts{
        margin-left: 70px;
    }
    .footer_block{
        width: 126%;
    }
    .footer_block iframe{
        width: 650px !important ;
    }
    .title_info{
        font-size: 36px !important;
        margin-left:70px !important;
    }
    .submit_form{
       margin-top: 200px !important;
   }
   }
   
   @media screen and (max-width:601px){
    .agileits-banner-info{
        width: 126%;
        height: 1040px !important;
        
    }   
   
    .banner-right{
        height: 660px;
    }
    .banner-right img{
        margin-top:-40px;
        
    }
    .card_block{
       grid-template-columns: 350px 350px;
       grid-row-gap:30px;
       
   
    }
    .block_service{
        margin-left: 140px !important;
    }
    .list_of_contacts{
        margin-left: 70px;
    }
    .footer_block{
        width: 126%;
    }
    .footer_block iframe{
        width: 650px !important ;
    }
    .title_info{
        font-size: 36px !important;
        margin-left:70px !important;
    }
    .submit_form{
       margin-top: 200px !important;
   }
   }
   
   
