@media screen and (max-width:550px){
    .agileits-banner-info{
        height:1350px !important;
    }
    .banner-right-info{
        margin-top: 50px;
    }.banner-right{
        height: 1000px;
    }
   .service{
       display: grid;

       grid-template-columns: 150px 150px;
      
  
   }
   .title_info{
    margin-top: 1px !important;
    
}
   .service1 p,.service2 p, .service3 p{
       font-size: 16px;
   }
   .footer_block{
    grid-template-columns:350px;
    font-size: 14px;
    height: 480px;
 }
   .footer_block_2 iframe {
    width: 350px !important;
   
}
.footer_block{
    height: 700px;
}
.teat
   .service3{
       position: relative;
       margin: 0 auto;
       left: 50%;
       width: 150px;
       
     
   }
   .list_of_contacts{
       margin-top: 20px;
       width: 400px;
      
   }
   .close{
       margin-left: 30px !important;
   }
}
@media screen and (max-width:680px) and (min-width:560px){
 .agileits-banner-info{
     width: 690px;
     height: 1420px !important;
     
 }   

 .banner-right{
     height: 960px;
 }
 .banner-right img{
     margin-top:-40px;
     
 }
 .submit_form{
    margin-top: 200px !important;
}
}
