@media screen and (max-width:820px) {
    .dropbtn1{
        display: grid;
        grid-template-columns: 200px;
        justify-content: center;
        align-items: center;
      margin: 0 auto !important;
     
    }
    .agileits-banner-info{
 
        height:1315px  !important;
    }
    .dropbtn1 i{
padding-left:15px;
    }
    .modal-btn{
        margin-top: -150px;
    }.service p{
        font-size: 22px ;
    }

    .banner-right-info p{
        font-size: 32px;
        margin-bottom: 90px;
    }
    .banner-right-info img{
        width: 340px !important;
        height: 150px !important;

    }
    .email_form{
        margin-left: -15px !important;
    }
    .service{
        display: grid;
        grid-template-columns:190px 190px 190px;
    }
    .list_of_contacts{
        width: 685px;
        margin-left: -2px;
     
    }
    
    .submit_form{
        margin-top: 200px;
    }
 .message_form,.message_form1{
     margin-left: 35px !important;
 }
 .telephone_form{
     margin-left: 50px !important;
 }
 .telephone_form1{margin-left: 30px;}
}